# .NET
bin/
obj/
*.user
*.suo
.vs/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart

# IDE
.idea/
.vscode/

# Miljövariabler
.env
*.env

# Logs
logs/

# OS
.DS_Store
Thumbs.db
